<a href="https://colab.research.google.com/github/rahulkumarbala/Hotel-Bookng-EDA/blob/main/Hotel_Booking_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Project Name - Hotel Booking Analysis** 

---

##### **Project Type - Exploratory Data Analysis**
##### **Contribution - Rahul Kumar Bala**

# **Project Summary -**

* This project is related to Hotel Booking having two hotel description i.e
City Hotel and Resort Hotel. In this dataset contains total rows 119390 and 32 columns.In this we divide data manipulation workflow in three category Data Collection ,Data cleaning and manipulation and EDA(Exploratory Data Analysis).As Further moved i.e Data collections first step to find different columns which is done by coding Head(), tail(), info(), describe(), columns() and some others method used for data collections, some of the columns name is updated here i.e hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights.As we further moved we find unique value of each columns and generate a list in tabular form and also check the dataset type of each columnsâ€™ find some columns not in accurate data types which correct it later done in Data cleaning part and as well as duplicates data items must be removed as we find duplicates items equal to 87396 which is dropped from dataset later.

* Before visualize any data from the data set we have to do data wrangling. For that, we are checked the null value of all the columns. After checking, when we are getting a column which has more number of null values, dropped that column by using the 'drop' method. In this way, we are dropped the 'company' column. When we are find minimal number of null values, filling thse null values with necesary values as per requirement by using .fillna()

* Different charts are used for data visualization so that better insights and Business objective is attained.

#### **Define Your Business Objective?**

* Analyse the data on bookings of City Hotel and Resort Hotel to gain insights on the different factors that affect the booking. This is undertaken as an individual project.

# **GitHub Link -**

**Github Link** - https://github.com/rahulkumarbala/Hotel-Booking-EDA.git

# **Problem Statement -**

Have you ever wondered when the best time of year to book a hotel room is? Or the optimal length of stay in order to get the best daily rate? What if you wanted to predict whether or not a hotel was likely to receive a disproportionately high number of special requests? This hotel booking dataset can help you explore those questions!

This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things. All personally identifying information has been removed from the data. </b>

Explore and analyze the data to discover important factors that govern the bookings.

# ***Let's Begin !***

## ***1. Know Your Data***

 **Firstly we will import all the imortant libraries which helps us in our Analysis process**


---



---

### Import Libraries

In [ ]:
import pandas as pd
import numpy as np
from datetime import datetime
from datetime import date
from datetime import timedelta
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

 **Now we will mount our google drive and import the data into a variable from CSV file.**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

### Dataset Loading

In [ ]:
# Load Dataset
hotel_data_df = pd.read_csv('/content/drive/MyDrive/EDA/Hotel Booking Analysis - Rahul Kumar Bala/Hotel Bookings.csv')

**Now we will check whether our data is loaded successfull or not and then we will do some basic analysis of our data**

---



---

### Dataset First View

In [ ]:
# Dataset First Look
hotel_data_df

### Dataset Rows & Columns count

In [ ]:
# Dataset Rows & Columns count
print(hotel_data_df.index)
print('\n')
print(hotel_data_df.columns)

### Dataset Information

In [ ]:
# Dataset Info
hotel_data_df.info()

#### Duplicate Values

In [ ]:
# Dataset Duplicate Value Count, to remove these values, we use function drop.duplicate to delete duplicate rows.
hotel_data_df.drop_duplicates(inplace = True)

# total rows = 119390, Duplicate Rows = 31994
uni_num_of_rows = hotel_data_df.shape[0]

uni_num_of_rows # now unique rows = 87396

In [ ]:
# View unique data
hotel_data_df.reset_index()

**Cleaning the data and Handling the null values.**

---



---

#### Missing Values/Null Values

In [ ]:
# Missing Values/Null Values Count
null_value = hotel_data_df.isnull() == True
hotel_data_df.fillna(np.nan, inplace = True)

hotel_data_df # we replace all the null value as NaN.

In [ ]:
# Visualizing the missing values
miss_values =hotel_data_df.isnull().sum().sort_values(ascending=False)
miss_values # We have check the count of null value in individual columns

### What did you know about your dataset?

This data set contains a single file which compares various booking information between two hotels: a city hotel and a resort hotel.Includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things. The dataset contains a total of 119390 rows and 32 columns.Dataset Contains duplicated items i.e 31944 which is removed later .In this dataset we find data types of every columns i.e (Int, float ,string) and observe that some columns data types is not accurate and remove later .We find unique value of every columns it means what actual values in every columns

## ***2. Understanding Your Variables***

**let's get all columns**

---



---

In [ ]:
# Dataset Columns
df_column = hotel_data_df.columns
df_column

**Let's describe data for insights**

---



---

In [ ]:
# Dataset Describe
hotel_data_df.describe()

# **Variables Description**

## Description of individual Variable
  
**The columns and the data it represents are listed below:**

1. **hotel :** Name of the hotel (Resort Hotel or City Hotel)

2. **is_canceled :** If the booking was canceled (1) or not (0)

3. **lead_time:** Number of days before the actual arrival of the guests

4. **arrival_date_year :** Year of arrival date

5. **arrival_date_month :** Month of month arrival date

6. **arrival_date_week_number :** Week number of year for arrival date

7. **arrival_date_day_of_month :** Day of arrival date

8. **stays_in_weekend_nights :** Number of weekend nights (Saturday or Sunday) spent at the hotel by the guests.

9. **stays_in_week_nights :** Number of weeknights (Monday to Friday) spent at the hotel by the guests.

10. **adults :** Number of adults among guests

11. **children :** Number of children among guests

12. **babies :** Number of babies among guests

13. **meal :** Type of meal booked

14. **country :** Country of guests

15. **market_segment :** Designation of market segment

16. **distribution_channel :** Name of booking distribution channel

17. **is_repeated_guest :** If the booking was from a repeated guest (1) or not (0)

18. **previous_cancellations :** Number of previous bookings that were cancelled by the customer prior to the current booking

19. **previous_bookings_not_canceled :** Number of previous bookings not cancelled by the customer prior to the current booking

20. **reserved_room_type :** Code of room type reserved

21. **assigned_room_type :** Code of room type assigned

22. **booking_changes :** Number of changes/amendments made to the booking

23. **deposit_type :** Type of the deposit made by the guest

24. **agent :** ID of travel agent who made the booking

25. **company :** ID of the company that made the booking

26. **days_in_waiting_list :** Number of days the booking was in the waiting list

27. **customer_type :** Type of customer, assuming one of four categories

28. **adr :** Average Daily Rate, as defined by dividing the sum of all lodging transactions by the total number of staying nights

29. **required_car_parking_spaces :** Number of car parking spaces required by the customer

30. **total_of_special_requests :** Number of special requests made by the customer

31. **reservation_status :** Reservation status (Canceled, Check-Out or No-Show)

32. **reservation_status_date :** Date at which the last reservation status was updated

### Check Unique Values for each variable.

In [ ]:
# Check Unique Values for each variable.
print(hotel_data_df.apply(lambda col: col.unique())) # We have describes unique value in all individual column.

## 3. ***Data Wrangling***

#Data Cleaning

In [ ]:
#to fill the NaN value in the column, let's check which colomns has null value, we have already stored the same.
miss_values[:4]

In [ ]:
#lets check, what is the percentage of null value in each column, starting from company

percentage_company_null = miss_values[0] / uni_num_of_rows*100
percentage_company_null

In [ ]:
# It is better to drop the column 'company' altogether since the number of missing values is extremely high compared to the number of rows.

hotel_data_df.drop(['company'], axis=1, inplace=True)

In [ ]:
# now let's check for agent

percentage_agent_null = miss_values[1] / uni_num_of_rows*100
percentage_agent_null

In [ ]:
# As we have seen, there is minimul null values in agent, Lets fill these value by taking mode of the all values

hotel_data_df['agent'].fillna(value = 0, inplace = True)
hotel_data_df['agent'].isnull().sum() # we re-check that column has no null value

In [ ]:
#Check the percentage null value in country col

percentage_country_null = miss_values[2] / uni_num_of_rows*100
percentage_country_null

In [ ]:
# We have less null vlues in country col, so we will replace null from 'other' as country name.

hotel_data_df['country'].fillna(value = 'others', inplace = True)
hotel_data_df['country'].isnull().sum() # we re-check that column has no null value

In [ ]:
#Check the percentage null value in children col

percentage_children_null = miss_values[3] / uni_num_of_rows*100
percentage_children_null

In [ ]:
# We have less null vlues in country col, so we will replace null from 0 as country name.

hotel_data_df['children'].fillna(value = 0, inplace = True)
hotel_data_df['children'].isnull().sum() # we re-check that column has no null value

In [ ]:
#let's check whether database having any other null value

hotel_data_df.isnull().sum() # As we have seen, no column has any null value

#Change in datatype for required columns

In [ ]:
#showing the info of the data to check datatype
hotel_data_df.info()

In [ ]:
# We have seen that childern & agent column as datatype as float whereas it contains only int value, lets change datatype as 'int64'
hotel_data_df[['children', 'agent']] = hotel_data_df[['children', 'agent']].astype('int64')

#Addition of new column as per requirement

In [ ]:
#total stay in nights
hotel_data_df['total_stay_in_nights'] = hotel_data_df ['stays_in_week_nights'] + hotel_data_df ['stays_in_weekend_nights']
hotel_data_df['total_stay_in_nights'] # We have created a col for total stays in nights by adding week night & weekend nights stay col.

In [ ]:
# We have created a col for revenue using total stay * adr
hotel_data_df['revenue'] = hotel_data_df['total_stay_in_nights'] *hotel_data_df['adr']
hotel_data_df['revenue']

In [ ]:
# Also, for information, we will add a column with total guest coming for each booking
hotel_data_df['total_guest'] = hotel_data_df['adults'] + hotel_data_df['children'] + hotel_data_df['babies']
hotel_data_df['total_guest'].sum()

In [ ]:
# for understanding, from col 'is_canceled': we will replace the value from (0,1) to not_canceled, is canceled.

hotel_data_df['is_canceled'] = hotel_data_df['is_canceled'].replace([0,1], ['not canceled', 'is canceled'])
hotel_data_df['is_canceled']

In [ ]:
#Same for 'is_repeated_guest' col
hotel_data_df['is_repeated_guest'] = hotel_data_df['is_repeated_guest'].replace([0,1], ['not repeated', 'repeated'])
hotel_data_df['is_repeated_guest']

In [ ]:
#Now, we will check overall revenue hotel wise
hotel_wise_total_revenue = hotel_data_df.groupby('hotel')['revenue'].sum()
hotel_wise_total_revenue

In [ ]:
hotel_data_df[['hotel', "revenue"]]

### What all manipulations have you done and insights you found?

**We have done few manipulations in the Data.**

**----Addition of columns----**

We have seen that there are few columns required in Data to analysis purpose which can be evaluated from the given columns.

a) **Total Guests:** This columns will help us to evaluate the volumes of total guest and revenue as well. We get this value by adding total no. of Adults, Children & babies.

b) **Revenue:** We find revenue by multiplying adr & total guest. This column will use to analyse the profit and growth of each hotel.



**----Delete of columns----**

a)**company:** As we have seen that this columns has almost Null data. so we have delete this column as this will not make any impact in the analysis. 



**----Replace of Values in columns----**

a)**is_canceled, is_not_canceled & is_repeated_guest:** We have seen, that these columns contains only 0,1 as values which represent the status of booing cancellation. We replace these values (0,1) from 'Canceled' & 'Not canceled. In the same way for column 'is_repeated_guest', we replace 0,1 from 'Repeated' & 'Not repeated'. Now this values will help to make better understanding while visulization.


**----Changes in data type of values in columns----**

a)**Agent & Children:** We checked that these columns contains float values, which is not making any sense in data as this values repreasent the count of guest & ID of agent. So we have changed the data type of these columns from 'float' to 'Integer'.


**----Removed is_null values & duplicate entries----**

a)Before visualize any data from the data set we have to do data wrangling.
For that, we have checked the null value in all the columns. After checking, when we are getting a column which has more number of null values, dropped that column by using the 'drop' method. In this way, we are dropped the 'company' column. When we are find minimal number of null values, filling thse null values with necesary values as per requirement by using .fillna().

b) In the same, we have checked if there is any duplicacy in data & we found that there are few rows have duplicate data. So we have removed those row from data set by using .drop_duplicates() method.


**In this way, we have removed unneccesary data & make our data clean and ready to analyse.**

## ***4. Data Vizualization, Storytelling & Experimenting with charts : Understand the relationships between variables***